[2021-12-03 15:15] luis-cruzt opened #2 "Cannot configure firebase"
When running the command ```flutterfire configure``` i'm getting the following error:

[code]

[2021-12-03 15:26] PRAJINPRAKASH opened #3 "flutterfire configure not working"
when running am getting following error

[code]

already have firebase
[code]

[2021-12-03 19:21] Salakar commented on #3
What OS are you running the CLI on?

[2021-12-03 19:29] Salakar commented on #2
Can you try version `0.1.0+3` please and let me know if you have the same issue, thanks

[2021-12-04 22:37] iapicca opened #5 "[doc] missing documentation link"
`Documentation` link in [README.md](https://github.com/invertase/flutterfire_cli/blob/main/README.md)
is broken ![image](https://user-images.githubusercontent.com/45637986/144726565-dae82049-cf37-4fc5-9876-55c4ca8e872b.png)

[2021-12-05 19:58] #3 closed

[2021-12-05 20:19] Salakar commented on #5
This is expected since the documentation doesn't go live until later in the week - not promoting the use of the CLI until then

[2021-12-05 20:19] #5 closed

[2021-12-05 20:20] Salakar commented on #2
Have confirmed on my Windows machine (where I was able to replicate, but could not replicate on macos strangely) that this is now fixed.

[2021-12-05 20:20] #2 closed

[2021-12-05 20:29] Salakar opened #6 "Feature Request: Add a bug report command for FlutterFire issues"
It'd be nice to have a single command that CLI users can run that outputs all the information required to help with reporting an issue on the FlutterFire repository, e.g. FlutterFire package versions, Dart version, Flutter version, Android build versions, Xcode version, iOS/macOS build target version etc

cc @TahaTesser - maybe you have some things you'd like to see here

[2021-12-06 09:18] Ehesp commented on #6
`flutterfire doctor` 👯

[2021-12-08 13:11] lesnitsky opened #7 "--help throws when executed in non-flutter project folder"
I think we should allow to explore the commands even outside of flutter project folders

[2021-12-08 15:52] ch3n97w opened #8 "Can't load Kernel binary: Invalid kernel binary format version."
* `flutter doctor -v`
[code]

* `flutterfire --version`

[code]

[2021-12-08 16:17] Ehesp commented on #8
Where does this error trigger? When installing from pub or running a command?

[2021-12-08 18:25] ch3n97w commented on #8
It successfully added in packages, but failed to execute the command(flutterfire configure,flutterfire -v...)

[2021-12-09 02:35] Rexios80 opened #9 "Crash when running"
I'm getting the following crash when running `flutterfire configure`

[code]

[2021-12-09 11:39] Rexios80 commented on #9
I figured out it's only happening when I have ios selected. It works in a new project, but even when I replace the ios folder in my existing project with a new one it still crashes.

[2021-12-09 11:41] Xaviou1003 opened #10 "Configuration incompatibility between flutterfire_cli and crashlytics"
You can see the original report issue [here](https://github.com/FirebaseExtended/flutterfire/issues/7520).

## Bug report

**Describe the bug**
I initialize FLutterFire in my project with flutterfire cli. After this I can't configure crashlytics correctly.

### Steps to reproduce

Steps to reproduce the behavior:

1. Go to my root project directory
2. Install cli: `dart pub global activate flutter

[2021-12-09 11:41] basheerbsr79 opened #11 "Firebase not working in IOS working fine in android"
Runner[30793:671517] [VERBOSE-2:ui_dart_state.cc(209)] Unhandled Exception: MissingPluginException(No implementation found for method Firebase#initializeCore on channel plugins.flutter.io/firebase_core)
#0      MethodChannel._invokeMethod (package:flutter/src/services/platform_channel.dart:154:7)
<asynchronous suspension>
#1      MethodChannel.invokeListMethod (package:flutter/src/services/platfor

[2021-12-09 11:44] Rexios80 commented on #9
Now it decided to work with no changes to my project...

I think it might have something to do with files unrelated to flutter being in the project directory but I'm unsure.

[2021-12-09 12:05] ezet opened #12 "[windows] FlutterAppRequiredException: The current directory does not appear to be a Flutter application project."
I am having issues running the tool on Windows. Same error with powershell, cmd and mingw. Firebase CLI is installed and configured for the project.

[code]

[code]

[2021-12-09 16:20] smiskiv-hoopit commented on #12
Same for me on Mac OS

[2021-12-09 16:53] Salakar commented on #12
Hey @ezet - any chance you could share the pubspec.yaml for current directory that you're running the CLI in?

[2021-12-09 16:55] Salakar commented on #9
Not sure what to suggest here since the crash seems like a segfault in Dart itself, could you try uninstall and reinstall the CLI perhaps?

[2021-12-10 00:49] Rexios80 commented on #9
Closing since it decided to work. Not sure what fixed it.

[2021-12-10 00:49] #9 closed

[2021-12-10 07:47] justinenerio commented on #8
Was able to solve this issue. The cause was having two versions of dart in path. Uninstalling old dart sdk fixed it. Check if you have installed a previous version of dart. Flutter should have bundled the dart sdk already.

[2021-12-10 08:20] kirkcharlesniv commented on #12
Hello, I am currently experiencing this issue. This is my `pubspec.yaml` if this could help moving forward with this issue.

[code]

[2021-12-10 13:01] Salakar commented on #12
Do you have a `lib/main.dart` in your project or do you have a different setup?

[2021-12-10 13:20] Salakar commented on #12
I think it might be that so I'm going to release a version shortly that no longer checks for that 😅

[2021-12-10 13:25] #7 closed

[2021-12-10 13:25] #12 closed

[2021-12-10 13:31] Salakar commented on #12
Please try `0.1.1+2` - thanks

[2021-12-10 13:32] Salakar commented on #7
Sorted in `0.1.1+2`

[2021-12-10 16:23] LauDijksterhuis opened #13 "Improvement's suggestion"
I just read the Flutter 2.8 release and decided to give this CLI a try.

It works great but I would like to suggest 2 things.
This is the steps I took:

`flutter create ld_admin`
`flutterfire configure `

After selecting the right project this was the output:

[code]

## Suggestion 1
As you can see, it asked me what the desired iOS bundle ID is, but it did not ask me the bundle name for Android. N

[2021-12-10 16:36] LauDijksterhuis commented on #13
## Suggestion 3
For FlutterFire to work there are some extra changes needed in the build.gradle
See: https://firebase.flutter.dev/docs/manual-installation/android

[2021-12-11 05:14] kirkcharlesniv commented on #12
Could confirm, now it works with the new update. Thanks for the fast action.

[2021-12-11 06:16] ghensto opened #14 "Support for multiple scheme dev, staging, prod"

[2021-12-11 08:15] ch3n97w commented on #8
Thanks, it works

[2021-12-11 08:15] #8 closed

[2021-12-11 09:09] Ehesp commented on #14
Could you give some more details on what exactly it is you're looking for?

[2021-12-12 23:41] domesticmouse opened #15 "`flutterfire configure` unusable with large number of Firebase projects"
Attempting to use `flutterfire configure` against an account with a large number of Firebase projects lands the user in an unusable project selector.

[2021-12-13 07:39] loke7 commented on #10
Hi everyone.
I have faced the same issue when i am migrating a existing apps on using the flutterfire cli for configuration and using Dart-only initialization.

The issue mainly relate to google-services.json is removed.
According to below links:
1. https://github.com/xamarin/XamarinComponents/issues/956#issuecomment-704121911
2. https://github.com/firebase/firebase-android-sdk/blob/master/firebas

[2021-12-13 08:34] ezet commented on #12
I had an alternative lib/main.dart configuration, and can confirm it's working for me too now.

[2021-12-13 09:50] bizz84 commented on #14
I have the same requirement so I can comment on this.

My app is configured to use multiple flavors.

As such, I have three sets of package_names / bundle IDs:

- **Dev**: `com.codewithandrea.flutterfire-flavors.dev`
- **Staging**: `com.codewithandrea.flutterfire-flavors.stg`
- **Prod**: `com.codewithandrea.flutterfire-flavors`

Here's how they look like on the Xcode build settings:

<img width="1

[2021-12-13 10:55] Salakar commented on #14
This is technically possible now already with the CLI using the CLI flags, e.g.:

[code]

So the options are already in place - albeit maybe a little manual

If someone would like to PR to make this less manual then please do :)

[2021-12-13 12:03] bizz84 commented on #14
@Salakar that's great! That already takes much of the pain away as it needs to be run 3 times but at least it can be automated.

[2021-12-13 18:29] Lyokone commented on #10
Hi,
I'm still having issues on build:
[code]

With strings.xml
[code]
And the end of the build.gradle:
[code]

[2021-12-14 00:34] nyomansunima opened #16 "Flutter Fire CLI cannot create IOS bundle id more than 12 character"
Today I try to initialize my new project, and when I configure to the ios bundle and type my bundle id "com.sonibble.cawis" I cannot type again after type "com.sonibble.c".

BTW my default ios bundle in folder ios "not yet setup"

Detail about my platform:
- Mac OS M1 (Monterey)

[2021-12-14 00:41] nyomansunima commented on #16
Btw, I can solve it by adding --ios-bundle-id argument. But the confirm dialog is more important. I hope this issue will be improved

[2021-12-14 10:14] Tafalili commented on #12
can you help me i have same that problem how can i solve that ?

[2021-12-14 10:16] loke7 commented on #10
Hello,

I have removed the following lines in my gradle
`apply plugin: 'com.google.gms.google-services'
apply plugin: 'com.google.firebase.crashlytics'`

[2021-12-14 10:18] Lyokone commented on #10
Huuum I think you just get Dart errors that way and not native error reporting without those 2 lines 🧐

[2021-12-15 02:00] nickmeinhold opened #17 "Add clientId to web member of DefaultFirebaseOptions"
The use case is being able to pass the clientId when creating `GoogleSignIn`, avoiding having to add a meta tag to `index.html`.  We can add the value to a Dart file ourselves of course but I thought the clientId might be a valid addition to the web member of DefaultFirebaseOptions, and would make things a bit easier and cleaner.

[2021-12-15 02:14] loke7 commented on #10
Guys,

I think @Salakar were working on the issue.
https://github.com/FirebaseExtended/flutterfire/commit/c15fdda33b447ddd0c8e066e9c9ec7cabf9cd6fd

Let's see will this commit resolve the problem.

But we still need a completely doc for handling the Dart-only initialization FirebaseApp in both Android and IOS.

[2021-12-16 16:34] Salakar commented on #15
Have seen this as well locally - will need to swap out the library we use for prompts since this is an issue with that.

Will take a look, thanks for the report

[2021-12-19 20:54] thejohanmagnusson opened #18 "Flutter Fire CLI output and input broken"
I have tried to initialize my current project and a new clean project but the output and input in the terminal is broken for me.

When I run flutterfire configure it starts fetching the available projects but it behaves strangely, this is the output.

?[A?[2K⠦ Fetching available Firebase projects...
?[A?[2K⠧ Fetching available Firebase projects...
?[A?[2K⠇ Fetching available Firebase projects...
?

[2021-12-19 21:08] jeremyhalin opened #19 "flutterfire CLI doesn't seem to find my firebase install"
I've just installed Firebase CLI with standalone bin.
I've placed the binary in `C:\firebasecli\firebase-tools-instant-win.exe` and added the directory to my PATH.

I can now access firebase cli through my terminal and `firebase-tools-instant-win`.
Everything works fine, I was able to login and to list my projects.

But when I do a `flutterfire configure` here is what I got :

[code]

I did go thr

[2021-12-21 11:40] Salakar commented on #17
Firebase does not provide a clientId option for web sdks so there's nowhere for us to retrieve this from as far as I know

[2021-12-21 12:01] nickmeinhold commented on #17
I see, thanks for the explanation

[2021-12-21 12:01] #17 closed

[2021-12-23 00:14] Rart3001 opened #20 "Error on IOS when configure using client"
Hello, after configured  a new empty project using the command  "flutterfire configure". And ran the app I get this error:

[code]

My "main.dart" file:

[code]
And the "firebase_obtions.dart" file exist at the same level of my "main.dart" file.

In the documentation don't mention I have to add 'GoogleService-Info.plist' file manually.

[2021-12-23 08:52] Zohaib-Dev-Engr commented on #19
I am also getting the same error.

[2021-12-23 14:39] FranRiadigos opened #21 "DefaultFirebaseOptions is missing some properties."
After updating with the new installation flow some resources are not retrieved properly.

The following is an error thrown from the `Firebase Auth` **emulator** when signing in with Google.

`The Auth Emulator only support sign-in with google.com using id_token, not access_token. `

The `id_token` retrieved is null.

It turns out the Firebase configuration is missing some OAuth client ids, besides

[2021-12-25 10:49] yarmel commented on #20
Check your  AppDelegate.swift file and remove "FirebaseApp.configure()".

[2021-12-25 10:58] yarmel opened #22 "flutterfire configure command generates wrong options file"
What is the purpose of "androidClientId" option for the IOS FirebaseOptions group?

"flutterfire configure"  command generates IOS settings with "androidClientId"

[code]

[2021-12-25 22:15] Rart3001 commented on #20
The AppDelegate.swift don't have the method:

[code]

[2021-12-27 09:00] jeremyhalin commented on #19
I found a workaround as [mentioned here](https://stackoverflow.com/a/70417084), placing the firebase CLI binary in your project and renaming it to `firebase.exe` works fine...

[2021-12-28 10:36] bizz84 opened #25 "Option to forcefully choose which Firebase project to use?"
My Flutter project has multiple flavors/environments.

Accordingly, I have created multiple Firebase projects:

- `my-shop-ecommerce-dev`
- `my-shop-ecommerce-stg`
- `my-shop-ecommerce-prod`

To generate the configuration for the staging environment, I use this command:

[code]

However, the output prints this and chooses the wrong Firebase project:

[code]

The impact of this is that I can only u

[2021-12-28 10:59] Ehesp commented on #25
Have you tried the -p argument to specify which Firebase project to use?

[2021-12-28 11:11] bizz84 commented on #25
@Ehesp that works, thank you.

I missed that the help for this was in `flutterfire configure --help`.

[2021-12-28 11:11] #25 closed

[2021-12-29 11:04] harmeet-rgyan opened #26 "Error "Missing google_app_id. Firebase Analytics disabled.""
I am getting a "Missing google_app_id. Firebase Analytics disabled." error when I am doing firebase setup with FlutterFire Cli, If I am doing it manually I am not getting this error and I am able to see all analytics events in debug view. Here are the logs:

Launching lib\main.dart on DEVICE in debug mode...
Running Gradle task 'assembleDebug'...
Warning: Mapping new ns http://schemas.android.com/

[2021-12-29 17:41] prabel opened #27 "FormatException: Unexpected character when calling flutterfire configure"
After calling `flutterfire configure` commend, I'm always getting error
[code]

I'm using Flutter version 2.8.1
[code]

[2021-12-29 20:37] flypsyco commented on #27
I had a same issue and resolve it.

The first issue I got was
"i Found 0 Firebase projects. Selecting project liveasy-1. FirebaseCommandException: An error occured on the Firebase CLI when attempting to run a command. COMMAND: firebase --version ERROR: The FlutterFire CLI currently requires the official Firebase CLI to also be installed, see https://firebase.google.com/docs/cli#install_the_firebas

[2021-12-30 10:25] prabel commented on #27
Thanks for the tips @flypsyco
In my case updating firebase cli
[code]

and then calling
[code]

resolved all issues 🎉

[2021-12-30 10:25] #27 closed

[2021-12-30 14:48] allasca commented on #19
not work with me.
PS D:\Flutter\tebak> flutterfire configure
⠙ Fetching available Firebase projects...
Unhandled exception:
FormatException: Unexpected character (at character 1)
#
^

[2021-12-30 16:05] subhanassiddik opened #28 "flutterfire configure"
1. iam using standalone binary
2. i have been rename firebase-tools-instant-win.exe to firebase.exe and put to my root project folder

-  i got warning when using

dart pub global activate flutterfire_cli

[code]

- and when trying flutterfire configure i got

[code]
- i have been adding C:\Users\SID\AppData\Local\Pub\Cache\bin to my Path still not work

[2021-12-30 17:43] jeremyhalin commented on #19
@allasca Your error doesn't seem to be related to mine. You had same error as me before?

[2021-12-30 21:58] bretmh commented on #20
I have a similiar issue

[2021-12-30 23:30] bretmh opened #29 "Can no longer run ios app"
I've followed the migration from the manual initialization of firebase.

Here is the error I'm receiving.

[code]

Here is the main of my flutter app
[code]

[2021-12-31 00:37] gkiwimagi commented on #26
Thanks for posting the issue.  I'm encountering the same...

[2021-12-31 04:04] allasca commented on #19
I dont know, maybe same.
already re-install flutter_cli still not work.
already renamed to firebase.exe and copy to project folder, not work.
maybe I need to do it manually

[2021-12-31 15:55] Salakar commented on #22
This is correct, ios needs the androidClientId for dynamic links functionality.

[2021-12-31 15:55] #22 closed

[2021-12-31 15:57] Salakar commented on #21
Which properties are missing? androidClientId is correct in ios, see reference documentation - it's a ios only field use for cross-platform deep linking in dynamic links.

[2021-12-31 16:00] Salakar commented on #29
I don't think this error is related to this CLI, I only see info logs above relating to firebase (which are to be expected), not errors.

Not sure how else to help here since it doesn't look like a CLI issue

[2021-12-31 16:00] #29 closed

[2022-01-01 10:09] Smartiiez opened #30 "FormatException error with flutterfire configure"
Hi 👋,

I got FormatException when I run the flutter configure command line :
[code]

[2022-01-01 16:56] QasimRailo opened #31 "How we can be able to configure FlutterFire CLI for SHA1?"
I am trying to add a SHA1 certificate to a new Firebase Project

In the [FlutterFire](https://firebase.flutter.dev/docs/manual-installation) Overview there is a statement that the manual configuration should get avoided. Instead we should use the flutterfire configure command line with the CLI.

There is no clarification on how to add the SHA1 certificate with the CLI.

Is this even possible? If n

[2022-01-03 14:24] arisAlexis opened #32 "[firebase-core] configure fails with: Bad state: expecting only one entry for dependency"
Bug report
Describe the bug
Flutterfire configure fails

Steps to reproduce
Steps to reproduce the behavior:

Follow https://firebase.flutter.dev/docs/overview/
run 'flutterfire configure' inside the root of the flutter project

Expected behavior
configuration happens

###Log

Unhandled exception:
Bad state: expecting only one entry for dependency
#0 new DependencyReference.fromJson (package:pubsp

[2022-01-04 05:09] #28 closed

[2022-01-04 07:49] haroonkhan9426 commented on #32
Same issue happening here. @arisAlexis were you able to resolve it?

[2022-01-04 08:48] arisAlexis commented on #32
no unfortunately, I am waiting for some help from the team here

[2022-01-04 21:07] chonghorizons opened #33 "Error running flutterfire configure - "Unexpected Character""
## Bug report

**Describe the bug**

I'm trying to follow the instructions to setup flutterfire CLI here: https://firebase.flutter.dev/docs/overview#using-the-cli

[code]

And it's giving me an error:

[code]

I posted this at https://github.com/FirebaseExtended/flutterfire/issues/7693 and they helped me troubleshoot. They couldn't reproduce it. But they recommended that I post a bug report here,

[2022-01-04 21:13] chonghorizons commented on #33
It seemed to be an outdated `firebase.tools` and reauthorization needed. I followed the instructions here: https://github.com/invertase/flutterfire_cli/issues/27#issuecomment-1002965081

And it worked.

[2022-01-04 21:13] #33 closed

[2022-01-04 21:14] chonghorizons commented on #19
I had a similar issue (#33), but it was solved with the two commands here: https://github.com/invertase/flutterfire_cli/issues/27#issuecomment-1002965081

Maybe that will help.

[2022-01-04 21:15] chonghorizons commented on #30
I had a similar issue (#33), but it was solved with the two commands here: https://github.com/invertase/flutterfire_cli/issues/27#issuecomment-1002965081

Maybe that will help.

[2022-01-05 20:58] rayliverified opened #34 "CLI not selecteable on Windows CMD and Powershell"
This is how it looks on Cmd. Probably not intended!

![snap_screen_20220105145719](https://user-images.githubusercontent.com/19896174/148288397-993c612f-9423-437a-8fea-38f6fd142b4c.png)

[2022-01-06 13:08] Kobatsu opened #35 "No active package flutterfire_cli"
I am trying to use the CLI as stated in the [doc](https://firebase.flutter.dev/docs/cli/), however I am stuck at the step `flutterfire configure`.
My output is as below:
[code]

This is my flutter doctor output:
<details><summary>flutter doctor output</summary>

[code]
</details>

I tried downgrading the version of the flutterfire_cli package but with no luck.

Any idea on how to resolve this?

[2022-01-07 16:47] Salakar commented on #18
Closing as duplicate of #34

[2022-01-07 16:47] #18 closed

[2022-01-09 18:13] gradycsjohnson opened #36 "Failed to list Firebase projects"
I'm running the CLI for the first time and am running into authentication errors.

I figure I should be prompted for my credentials but instead I just get the following error. I've seen nothing in the documentation about manually configuring the CLI with a username/password.

[code]

[code]

I have firebase CLI installed and am logged in:
[code]

OS:
[code]

firebase-debug.log:
[code]

[2022-01-10 19:34] Smartiiez commented on #30
Thanks for the answer but I still get the error 😓

[2022-01-11 07:31] sumitsharansatsangi commented on #35
Use `dart pub global activate flutterfire_cli`, instead of `flutter pub global activate flutterfire_cli`

[2022-01-11 10:00] Kobatsu commented on #35
Thank you it worked!
I used the `flutter` command instead of `dart` sometimes ago when I faced issues using `dart` (problems with my PATH that I fixed recently).
I thought that running `flutter` was somehow equivalent to running `dart`. Apparently it is not.

[2022-01-11 10:00] #35 closed

[2022-01-13 15:56] BLKKKBVSIK opened #37 "flutterfire configure return an Unhandled exception."
I configured a project with `flutterfire configure` a while ago.
Now, the problem is that can't execute the `flutterfire configure` command again.

Even after doing multiple `flutter clean` && removing the `google-service.json` & `google-service.plist`, I'm a still able to execute the command in another flutter project, but not on the one which return me this error.

[code]

[code]

OS:
[code]

[2022-01-13 16:24] BLKKKBVSIK commented on #37
Seems like the issue comes from my `pubspec.yaml`:
Specifying a version make the `flutterfire configure` crash.

[code]

[2022-01-17 13:08] FranRiadigos commented on #21
I'm sorry, didn't see this reply in my inbox.

Tbh, something is missing but not sure what it is, otherwise `Firebase Auth` wouldn't complain and the `id_token` would not be null.

I'll make some experiments and will let you know more.

[2022-01-27 13:09] gradycsjohnson commented on #36
For posterity, this solved my problem:
`firebase login --reauth`

[2022-01-28 14:39] ramanjitsingh-hub commented on #36
Thank you very much i have been struggling from so long

[2022-02-01 06:45] mhussaines commented on #30
Thanks for the answer but I still get the error too.

[2022-02-02 17:27] brunodmn commented on #37
Worked for me!. I commented flutter_localizations and ran `flutterfire configure`...than I uncommented again.
Thanks

[2022-02-03 12:39] mueen-memon opened #38 "flutterfire cli not working from VS Code terminal"
I have added the flutterfire cli path into the environment variables on Windows. Still VS Code terminal does not know flutterfire command. Even though it is working in windows cmd.

[2022-02-03 21:01] dnadawa commented on #38
Try `flutterfire.bat` instead of `flutterfire`

Eg: `flutterfire.bat configure`

[2022-02-06 10:38] gaikwad2udit commented on #30
same issue

[2022-02-06 10:40] gaikwad2udit commented on #30
did you find the solution ?

[2022-02-06 12:26] mhussaines commented on #30
Yes, I just updated the firebase_message version in pubspec.yaml file and it started working without any code change.

Mohammad Hussain Anwar
Computer Programmer (iOS Developer)
Excellent Solutions
Tel:      +966 11 4196560 Ext-135
Mob:    +966-53-6256339
Email:  ***@***.***
Regards,

[2022-02-07 13:19] dJani97 opened #39 "[flutterfire_cli] Firebase CLI supports multiple users, while flutterfire CLI only supports one"
**Describe the bug**

I have initialized FlutterFire in my Flutter project by following the CLI guide at [FlutterFire / docs / CLI](https://firebase.flutter.dev/docs/cli)

I'm logged into multiple Google accounts in the Firebase CLI, and during (and after) initialization I'm unable to select which account I'd like to use for the current Flutter project.

Running `firebase login:use <email>` in the

[2022-02-16 07:03] neiljaywarner commented on #26
Can we please escalate this? analytics is one of the main things one would want firebase for...

[2022-02-19 17:43] nimeacuerdo commented on #20
@Rart3001 did you make it work somehow?

[2022-02-19 23:10] Rart3001 commented on #20
I force to use the 8.10.0 version in the Podfile

`$FirebaseSDKVersion='8.10.0'`

[2022-02-21 12:32] pr-Mais commented on #21
Are you using [google_sign_in](https://pub.dev/packages/google_sign_in) plugin to retrieve the Google auth credentials?

[2022-02-22 06:59] FranRiadigos commented on #21
@pr-Mais Yes, I am, and I saw on the documentation this is not supported.

[2022-02-22 09:45] subzero911 opened #41 "wrong google user"
I run `flutterfire configure`
It automatically chooses the user

![image](https://user-images.githubusercontent.com/12999702/155105934-43a430c1-acb7-41e2-b080-fb64f8dfea60.png)

But this user doesn't have access to the Firebase project. So this config utility fails.
I actually need [s.molchanovskiy@notamedia.ru](mailto:s.molchanovskiy@notamedia.ru) as a user. How can I choose the custom user?
I tr

[2022-02-22 09:46] subzero911 commented on #39
Same here. CLI picks the wrong user. And seems like no way to choose the custom user.

[2022-02-22 13:28] pr-Mais commented on #21
Yes, so you might still need manual platform configurations until it's supported, related issue https://github.com/flutter/flutter/issues/96391

[2022-02-23 02:29] mrverdant13 commented on #41
This is done by using the `firebase` CLI.

For your specific use case, these are the sub-commands that might be handy:
- `firebase login:list`: logs a list of the registered authorized accounts.
- `firebase login:add [options] <email>`: starts the auth flow to register the `<email>` account locally.
- `firebase login:use <email>`: sets `<email>` as default account.

For more in-depth info about th

[2022-02-23 02:30] mrverdant13 commented on #41
Hello, @subzero911

This is done by using the `firebase` CLI.

For your specific use case, these are the sub-commands that might be handy:
- `firebase login:list`: logs a list of the registered authorized accounts.
- `firebase login:add [options] <email>`: starts the auth flow to register the `<email>` account locally.
- `firebase login:use <email>`: sets `<email>` as default account.

For more in

[2022-02-23 15:42] Nico04 commented on #30
Same issue here on Windows.
I installed the firebase CLI from the standalone version, moved to my project folder and rename it to firebase.exe
But when using flutterfire command it throws FormatException
I've tried few comments found on github, without any luck

[2022-02-28 04:27] anilsapkota commented on #38
I have the same issue. I added path to environment variable as well, but still getting flutterfire cli not working. Tried .bat also but didn't work

[2022-03-02 05:28] dryasbk commented on #16
I manage to use ios bundle ID by:
`flutterfire configure icom.example.myapp`

So add i followed by your ios bundle ID and was longer than 7 characters.

From [FlutterFire CLI Commands](https://firebase.flutter.dev/docs/cli/#configure)

[2022-03-07 22:29] fannar opened #45 "FlutterAppRequiredException: The current directory does not appear to be a Flutter application project."
This error occurs when `pubspec.yml` has

[code]

instead of

[code]

If using localizations your `pubspec.yml`should be

[code]

Some projects only have the `flutter_localizations` key and are missing the `flutter` key and therefore `flutterfire client` doesn't recognize the project as a Flutter project.

[2022-03-07 22:36] fannar commented on #45
Flutter docs specify that `pubspec.yml` with Flutter localizations should be

[code]

but some projects only have the `flutter_localizations` key.

[2022-03-09 10:36] bouncydragon opened #46 "flutterfire configure command not working"
I have an error after reexecuting `flutterfire configure` I'm planning to change my firebase project to another project. When I executed `flutterfire configure` it throws an error of `FlutterAppRequiredException: The current directory does not appear to be a Flutter application project.` Even thou the project is created fom flutter itself.

here is my `pubspec.yaml`

[code]

[2022-03-10 01:17] raven-black-dream opened #47 "Flutterfire CLI not working on Garuda Linux"
Following the instructions in the FlutterFire CLI Documentation:

I run: `dart pub global activate flutterfire_cli`

It succeeds without any problems.

Then I run: `export PATH="$PATH":"$HOME/.pub-cache/bin"`

When I try to run flutterfire --version I get the following error:

`~/.pub-cache/bin/flutterfire: line 8: dart: command not found`

I am running the commands from a bash terminal. I have ad

[2022-03-10 21:09] dancamdev opened #48 "Is there a way to run flutterfire configure from the command line silently?"
My goal here is to run the `flutterfire configure` command in a script, so I need it to run without promting for user input.

I tried passing the following arguments, which matched with me being already logged into the account, I expected to work without user intervention.

`flutterfire configure -p <project-name> -i <ios_app_id> -a <android_app_id>`

But the cli would still prompt me with selecti

[2022-03-10 21:12] dancamdev commented on #45
I'm using the flutterfire configure along with localizations no problem.

is your pubspec file extension `.yml`? - might be worth to try changing that to `.yaml` - just a guess though.

[2022-03-11 09:28] fannar commented on #45
This isn't a problem for me. Just reporting that if the `pubspec.yml` is missing

[code]

`flutterfire configure` doesn't work.

[2022-03-11 17:48] raven-black-dream commented on #47
While the issue likely still persists, I have decided to move in the direction of a different linux distro.

Thank you.

[2022-03-11 17:48] #47 closed

[2022-03-18 10:57] AdrKacz opened #49 "🐛 [FlutterFire CLI] CLI doesn't find Firebase CLI"
## Bug report

*FlutterFire CLI* ask me to install *Firebase CLI* even if it is already installed and logged in my account.

### Steps to reproduce

[code]

### Expected behavior

I would expect `flutterfire configure` to find *Firebase CLI* and run.

---

## Additional context

[code]

---

### Flutter doctor

Run `flutter doctor` and paste the output below:

<details><summary>Click To Expand</su

[2022-03-23 11:09] CripyIce opened #50 "CLI crashes"
Hi there,
I created a new Flutter project with the latest stable version (2.10.3) and tried to configure firebase but got a crash.
It gave me my Firebase projects list and after selecting the relevant one it automatically detected Android package name and on iOS it didn't detected and asked me to write it down myself.
After writing down the iOS bundle id, I saw the app created in my Firebase apps

[2022-03-23 14:13] neiljaywarner commented on #26
@harmeet-rgyan  @ivanwhm @gkiwimagi is this still occurring? overall "vibe" of the docs seem like it's made progress

[2022-03-30 10:03] #37 closed

[2022-03-30 10:03] #45 closed

[2022-03-30 10:13] russellwheatley commented on #46
Hey @bouncydragon, do you mind providing a use case for your pubspec.yaml sample? I'm not sure how the flutter dependency isn't in the list of dependencies:

[code]

This is inserted as part of the `flutter create project`. I would imagine the flutter API wouldn't work without it as well.

[2022-03-30 11:54] Salakar commented on #41
`flutterfire` cli also supports the `--account` option when running commands, e.g.  `flutterfire --acount=foo@bar.com configure`

[2022-03-30 11:54] #41 closed

[2022-03-30 12:04] #48 closed

[2022-03-30 12:05] Salakar commented on #48
`--yes` flag has just been added for this, e.g. `flutterfire config --project=<projectId> --yes`

This will be available in the next release. Thanks!

[2022-03-30 12:06] Salakar commented on #21
Closing as this is not related to CLI usage but rather google sign-in, as above

[2022-03-30 12:07] Salakar commented on #39
`--account` option has been supported since the first release, please try it out, e.g. `flutterfire --account=foo@bar.com configure`

[2022-03-30 12:07] #39 closed

[2022-03-30 12:10] #32 closed

[2022-03-30 12:10] Salakar commented on #32
This was an underlying issue with the `pubspec` library which I believe has been fixed - so I've bumped the dependency version and I'll ship a new CLI later today.

[2022-03-30 12:14] Salakar commented on #14
I'm going to close this now since I think this is essentially covered now with the above flags and along with the recent addition of the `--yes` flag (to skip prompts and accept defaults). Meaning this can be automated, e.g. defining commands in [melos](https://github.com/invertase/melos) scripts to switch environments

[2022-03-30 12:16] Salakar commented on #11
Closing as this issue is not a CLI issue, please report on FlutterFire repository. Thanks

[2022-03-30 12:16] #11 closed

[2022-03-30 12:17] Salakar commented on #50
Looks like this is an issue with Dart itself, I'd suggest reactivate the cli package again, via `dart pub global activate flutterfire_cli` and see how you get on, otherwise report an issue on the Dart repository, thanks!

[2022-03-30 12:17] #50 closed

[2022-04-04 19:10] JCQuintas commented on #14
@Salakar that is not a solution, as there is no documentation describing how to do that, nor it seems trivial.

Running `flutterfire config` also creates a `firebase_app_id_file.json` file that needs to exist in each of `android` and `ios` folder. This file doesn't seem to allow for `flavors`, so I can't have them scoped like `firebase_app_id_file_development.json`.

[2022-04-06 09:44] #46 closed

[2022-04-09 14:43] Zelfapp opened #54 "Cannot switch from one google account's firebase projects to another google account's firebase projects"
I have two firebase projects that are in two separate google accounts. Let's call them "a" and "b".

Following the [FlutterFire CLI instructions](https://firebase.flutter.dev/docs/cli).

From the directory for project "a" I did the following:

1. `flutterfire configure` and signed into google account "a" a@gmail.com.
2. Was able to choose an existing project for "a". No problems.
3. Still in direc

[2022-04-11 23:29] Tinomuchenje commented on #49
Facing the same issue. How did you go about it

[2022-04-12 07:04] syahmewmew opened #55 "flutterfire configure, FormatException: Unexpected character (at character 1)"
[code]

[2022-04-12 07:59] AdrKacz commented on #49
I solved the issue by not using `npm` 😅
 I used the `auto install script` (instruction at [https://firebase.google.com/docs/cli](https://firebase.google.com/docs/cli))

Beforehand, I deleted all firebase packages installed with `npm`.

[2022-04-12 10:38] sezer opened #56 "FlutterAppRequiredException: The current directory does not appear to be a Flutter application project."
When I try to `flutterfire configure` I got this error on  a windows machine. I'm able to run/debug and build my app.
I've create another empty project and it worked as expected. But for my current setup it is not working.

[code]

`flutter doctor -v`

[code]

`pubspec.yaml`

[code]

`flutterfire -v` 0.1.3

[2022-04-13 13:27] Salakar opened #59 "[bug]: Test"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### CLI Version

0.1.4-dev.0

### Firebase Tools version

10.4.2

### Flutter Doctor Output

Doctor summary (to see all details, run flutter doctor -v):
[✓] Flutter (Channel stable, 2.10.0, on macOS 12.0.1 21A559 darwin-arm, locale en-GB)
[!] Android toolchain - develop for Android devices (Android SDK version 31

[2022-04-13 14:30] myronsp commented on #56
I am also getting this same error, but on a Mac machine.

flutter doctor

`[✓] Flutter (Channel stable, 2.10.4, on macOS 11.6.4 20G417 darwin-x64, locale en-US)
    • Flutter version 2.10.4 at /Users/xxxxxDeveloper/flutter
    • Upstream repository https://github.com/flutter/flutter.git
    • Framework revision c860cba910 (3 weeks ago), 2022-03-25 00:23:12 -0500
    • Engine revision 57d3bac3dd

[2022-04-14 13:45] sarbogast commented on #14
I agree with @JCQuintas. Plus those files were not generated by the first version of FlutterFire CLI, and when I delete `google_services.json` and the corresponding plugin configuration from `android/app/build.gradle`, and the `firebase_app_id_file.json` file from `ios`, everything seems to work fine without them. Why were those files added by default? What is their purpose? And if they are absolu

[2022-04-15 22:29] Wowmind commented on #49
how did you solve it

[2022-04-15 22:45] Wowmind commented on #49
still having same issue

[2022-04-16 10:28] k00na commented on #55
Same here!

Here's my Flutter doctor -v output

[✓] Flutter (Channel stable, 2.10.4, on macOS 11.4 20F71 darwin-x64, locale en-GB)
    • Flutter version 2.10.4 at /Users/igor/dev/flutter
    • Upstream repository https://github.com/flutter/flutter.git
    • Framework revision c860cba910 (3 weeks ago), 2022-03-25 00:23:12 -0500
    • Engine revision 57d3bac3dd
    • Dart version 2.16.2
    • DevToo

[2022-04-16 11:34] tomlaws commented on #30
In my case installing from npm solved the issue.

`npm install -g firebase-tools`

[2022-04-16 15:00] amrh-h commented on #34
same as me.  i also tired it on my friend's laptop and the result was like this

[2022-04-18 11:16] Salakar commented on #56
@sezer is there any reason your pubspec contains this:

[code]

This is causing it currently to be detected as a flutter plugin rather than a flutter app

[2022-04-18 13:05] myronsp commented on #56
I solved this issue for myself by switching to my root directory in my terminal. I'm using android studio, so I typed "cd" to get back to my computer root, then typed "cd (insert your project name here)" to bring up the project root directory. Once I had the root directory, flutterfire configure worked just fine.

[2022-04-18 15:13] sezer commented on #56
@Salakar actually I don't remember why it was there. As you said, I've removed and problem solved. Thanks 👍

[2022-04-18 15:13] #56 closed

[2022-04-19 20:06] Salakar commented on #14
Unfortunately these `firebase_app_id_file.json` files and .gradle file updates are required for native builds if you want certain plugins (like Analytics, Crashlytics & Performance) to function correctly on Android, iOS & macOS. Since these interact with native builds there isn't really a way to make them environment specific since the CLI would be unware of your Android/iOS build targets etc. Ope

[2022-04-20 04:36] sarbogast commented on #14
The first thing is to document why those files can be necessary. For example, in the [CLI documentation](https://firebase.flutter.dev/docs/cli), on the line about `--[no-]apply-gradle-plugin` there should be a mention explaining why you might not need to apply the gradle plugin and create the google-services.json file. There are a lot of projects that only use firebase core, auth and firestore, bu

[2022-04-20 05:11] sarbogast commented on #14
By the way, I just tried to add the `--no-apply-gradle-plugin` flag, as described in the CLI documentation, but I got an error: `Could not find an option named "no-apply-gradle-plugin"`

And indeed, it is not documented in `flutterfire help configure`

[2022-04-20 06:44] Salakar commented on #14
`--no-apply-gradle-plugins` (plural on plugins) there's an update for the docs waiting to fix the docs but we're in a docs change freeze right now sorry 🙈

Thanks for all the input previously also, I can certainly add options to change the output paths for both json files so let me look into that, the only caveat to this is that we need to note on the CLI that if you do this it won't work by defau

[2022-04-21 18:31] Salakar opened #62 "[fr]: add better logging when a 401 Firebase CLI error occurs"
### Is there an existing feature request for this?

- [X] I have searched the existing issues.

### Command

_No response_

### Description

When the FlutterFire CLI wraps a Firebase CLI command and the Firebase CLI command errors with a 401 authentication issue we should probably print some more helpful logs e.g. some steps towards a resolution, e.g.

 1. Ensure you are logged into the firebase c

[2022-04-21 19:43] kevinthecheung opened #63 "[bug]: Console width limits max input length"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### CLI Version

0.2.1

### Firebase Tools version

10.6.0

### Flutter Doctor Output

kevincheung-macbookpro2 /Users/kevincheung/tmp/newfir
% flutter doctor -v
[✓] Flutter (Channel stable, 2.10.5, on macOS 12.3.1 21E258 darwin-x64, locale en-US)
    • Flutter version 2.10.5 at /Users/kevincheung/flutter
    • Up

[2022-04-21 19:56] kevinthecheung opened #64 "request: Regenerate config from existing settings"
### Is there an existing feature request for this?

- [X] I have searched the existing issues.

### Command

_No response_

### Description

I would like to regenerate firebase_options.dart based on the current configuration

### Reasoning

This way, I could e.g. easily generate an RTDB config after provisioning an instance

### Additional context and comments

_No response_

[2022-04-21 20:11] Salakar opened #65 "[proposal]: add a command to explicitly add a Flutter plugin for Firebase and configure it"
### Is there an existing feature request for this?

- [X] I have searched the existing issues.

### Command

`flutterfire add <firebaseFlutterPlugin>`

### Description

This command would add a way to add a Firebase service to your Flutter app and configure it at the same time.

Internally this command would do the following;

1. `flutter pub add <pluginName>`.
2. Update Firebase configuration (wh

[2022-04-23 18:51] yanivshaked commented on #55
Same issue here, is there any workaround available?

[2022-04-24 11:19] k00na commented on #55
What helped me in the end was to logout of firebase and login again, you can do that with `firebase login --reauth `

[2022-04-24 18:08] yanivshaked commented on #55
Thanks

[2022-04-25 02:54] Lawytel opened #66 "[bug]:"
### Is there an existing issue for this?

- [x] I have searched the existing issues.

### CLI Version

0.2.1+1

### Firebase Tools version

10.7.1

### Flutter Doctor Output

This is the output from 'flutter doctor -v'

[√] Flutter (Channel dev, 2.13.0-0.1.pre, on Microsoft Windows [Version 6.1.7601], locale en-US)
    • Flutter version 2.13.0-0.1.pre at C:\src\flutter
    • Upstream repository ht

[2022-05-03 11:16] nilsreichardt opened #67 "[bug]: Can't create a iOS app: `HTTP Error: 400, Request contains an invalid argument.`"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### CLI Version

0.2.1+1

### Firebase Tools version

10.7.2

### Flutter Doctor Output

[code]

### Description

I'm unable to create an app for iOS when running `flutterfire configure -a de.kidcoins.faamly_missions.dev -i de.kidcoins.faamly_missions.dev`.

My result:
[code]

### Steps to reproduce

1. Run `flut

[2022-05-03 11:34] nilsreichardt commented on #67
Ah, I found the issue: Firebase doesn't allow underscore (`_`) in den bundle id.

![image](https://user-images.githubusercontent.com/24459435/166445705-18f21ae9-164f-45a6-9247-5a4e826ccab4.png)

[2022-05-03 11:34] #67 closed

[2022-05-06 00:00] duartevg commented on #55
Hi, using the `firebase login --reauth` didn't solve it for me, did you manage to find a workaround in the meantime?

[2022-05-06 00:04] duartevg commented on #49
I solved it by getting the standalone firebase cli binary from the official website, moving the executable to the flutter project file and then renaming it to `firebase.exe`.

[2022-05-07 11:42] BenVercammen commented on #55
I have the same issue using Firebase CLI (on Windows). However, when I do this from a regular terminal (actually, my IDEA's terminal, but I guess a command prompt would be the same), it just worked...

`firebase tools --version` showed me I'm working with `9.2.2`.
So I tried to update my version using `npm install -g firebase-tools` but eventually got an error
`(node:10388) UnhandledPromiseRejecti

[2022-05-09 21:26] danPyk commented on #55
I have same isssue when I'm trying to use `flutterfire configure`  in Android Studio terminal.
Interesting thing: when I'm trying the same in standalone cmd prompt I'm getting:

FirebaseCommandException: An error occured on the Firebase CLI when attempting to run a command.
COMMAND: firebase --version
ERROR: The FlutterFire CLI currently requires the official Firebase CLI to also be installed, see

[2022-05-10 09:50] petrnymsa commented on #14
@Salakar  In our app we have defined two flavors (ios schemes) but only one Firebase project. How can we achieve to have `firebase_app_id_file.json` per scheme?

One of the older project we have defined custom Build Phase which will copy correct GoogleServices.plist into project based on current scheme. Do we need something similar?

[2022-05-11 16:42] molaktycoon commented on #18
This issue as not been solve.

[2022-05-11 19:59] erf opened #68 "request: Add support for --supported-platforms argument to skip user input"
### Is there an existing feature request for this?

- [X] I have searched the existing issues.

### Command

flutterfire configure --supported-platforms ios android

### Description

Pass a supported platforms argument to tell the CLI tool which platforms to support, in order to skip user input.

Example:

[code]
This would support only **ios** and **android**.

### Reasoning

I would like to make

[2022-05-11 20:06] erf opened #69 "request: Add support for defaulting to either yes or no (or improve --yes / --skip)"
### Is there an existing feature request for this?

- [X] I have searched the existing issues.

### Command

flutterfire configure --default no

### Description

I would like to default to yes or no to the various command prompts.

This is different than the yes / skip argument, which would always use the default value.

### Reasoning

I would like to automate the configure commands in a script an

[2022-05-12 13:55] #68 closed

[2022-05-12 14:29] erf opened #73 "request: Make explicit upgrade command"
### Is there an existing feature request for this?

- [X] I have searched the existing issues.

### Command

flutterfire upgrade

### Description

Add a `flutterfire upgrade` command which upgrades the tool to the latest version (if available).

### Reasoning

I was wondering how to update the **flutterfire CLI** tool and noticed a upgrade prompt after typing **flutterffire version**, maybe there

[2022-05-12 14:50] erf opened #74 "request: Command to fetch app config files (json or dart) without changing existing Firebase"
### Is there an existing feature request for this?

- [X] I have searched the existing issues.

### Command

flutterfire fetch

### Description

I would like to see a read-only `fetch` command which just fetches existing app configuration in either `dart` or `json` format without changing the existing Firebase project.

### Reasoning

We would like to avoid adding the API Keys to a git repo, so we

[2022-05-15 23:19] erf opened #75 "request: Create folders for "out" file"
### Is there an existing feature request for this?

- [X] I have searched the existing issues.

### Command

flutterfire configure --out=/lib/config/dev/firebase_options.dart

### Description

I would like the `configure --out` command to create the given directories.

### Reasoning

Now it fails if the `out` directory does not exists. I think it would be convenient if it was made.

### Additional

[2022-05-16 11:35] #75 closed

[2022-05-16 11:46] Salakar commented on #75
Shipped in the latest version, thanks again :)

[2022-05-16 13:09] JemYKolon opened #76 "[bug]: 0.2.2+1 verseion has Unhandled exception"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### CLI Version

0.2.2+1

### Firebase Tools version

10.7.1

### Flutter Doctor Output

[✓] Flutter (Channel stable, 3.0.0, on macOS 12.3.1 21E258 darwin-arm, locale
    ko-KR)
[✓] Android toolchain - develop for Android devices (Android SDK version
    32.1.0-rc1)
[✓] Xcode - develop for iOS and macOS (Xcode 13

[2022-05-16 13:28] Salakar commented on #76
Fixed in latest version, sorry about that 🙈

[2022-05-17 11:41] SlickSlime commented on #20
Do we have any permanent solution for this?

[2022-05-18 21:54] robertflesch commented on #55
Way to solve this one is rename the firebase_windows_xxx.exe to firebase.exe

[2022-05-19 11:37] danPyk commented on #55
@robertflesch Thank's Robert, but I've already tried this, not helping. Today I've unistall firbease-tools, node.js and wsl to try install this time throught nvm, but I'm still getting error after ` flutterfire configure`  command:

[2022-05-19 17:50] robertflesch commented on #55
I was running into the same issue yesterday, and never got it solved,
however I did manage to get my project working.
I found that if I created a new project inside the firebase_cli, I could
get my app running with the default configuration. And the
firebase_options.dart was not needed.
using firebase projects:create,

? Please specify a unique project id (warning: cannot be modified
afterward) [6

[2022-05-23 14:02] Ahmadre commented on #14
For all who are searching for a solution (also working in pipelines):

[code]

[2022-05-25 19:07] djorgji commented on #14
Flutter Flavors are a feature of flutter overall that the CLI is completely oblivious to at the moment. We are going to have to stay on an older version of firebase, but as customers of firebase this is a major blocker for being able to adopt some of the new features.

[2022-05-25 19:11] sarbogast commented on #14
If you check out [this article](https://sebastien-arbogast.com/2022/05/02/multi-environment-flutter-projects-with-flavors/) that I published recently, you will see that it's possible to work around it. The article is now also referenced in the [documentation](https://docs.flutter.dev/deployment/flavors).

[2022-05-27 23:25] bounty1342 commented on #14
@sarbogast this doesn't solve the issue with firebase_app_id_file.json file being not flavoured.

[2022-05-27 23:50] bounty1342 commented on #14
I used https://medium.com/@animeshjain/build-flavors-in-flutter-android-and-ios-with-different-firebase-projects-per-flavor-27c5c5dac10b method to copy google-services.json with the old method. Maybe, something similar should work for the firebase_app_id_file.json.

Something like :
`environment="default"

# Regex to extract the scheme name from the Build Configuration
# We have named our Build Co

[2022-05-28 18:25] Patler commented on #55
I've had this issue for a while, just solved it for me.

The key was to not run "flutterfire configure" in the VSCode Terminal, but in the flutterfireCLI Terminal.

Normally when executing "flutterfire configure" in the flutterfireCLI it tells you "FlutterAppRequiredException: The current directory does not appear to be a Flutter application project.", that is because you have to navigate to the c

[2022-05-31 17:19] OmkarDabade opened #77 "request: Support to select hosting site for flutter web"
### Is there an existing feature request for this?

- [X] I have searched the existing issues.

### Command

_No response_

### Description

Currently flutterfire cli gives option to select firebase project, platforms only.
But there is one issue when multiple hosting sites have been setup in firebase project.
Consider following example-
Firebase project: test-firebase-project
Hosting site 1: test

[2022-06-01 02:27] exaby73 opened #78 "request: Add option to add `--token` to Firebase CLI when running in a CI environment"
### Is there an existing feature request for this?

- [X] I have searched the existing issues.

### Command

flutterfire configure --token "$FIREBASE_TOKEN"

### Description

As a developer, I want to use FlutterFire CLI on a CI environment, namely Codemagic. Since I can't authenticate with Firebase through the browser, I would like an option in the CLI to pass the token output of running `firebas

[2022-06-01 02:46] exaby73 commented on #78
Another, more common, use case could be where different projects are configured with different accounts. This allows the CLI to be ambiguous to the current logged in firebase account

[2022-06-02 20:39] jennabiiiii opened #80 "[bug]: flutterfire configure returns Unhandled exception: FormatException: Unterminated string"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### CLI Version

0.2.2+2

### Firebase Tools version

11.0.1

### Flutter Doctor Output

[✓] Flutter (Channel stable, 3.0.1, on macOS 12.4 21F79 darwin-x64, locale en-US)
    • Flutter version 3.0.1 at /Users//Developer/flutter
    • Upstream repository https://github.com/flutter/flutter.git
    • Framework revis

[2022-06-08 22:33] thachnb85 commented on #80
Got the similar issue, running on Android 6.

[code]

Flutter doctor
[code]

[2022-06-08 22:36] thachnb85 commented on #80
Similar backtrace here: https://github.com/flutter/flutter/issues/101242

That issue is closed, but both `master` and `stable` haven't got it merged yet.

[2022-06-09 17:29] doubleo2 commented on #39
@Salakar account is not a global option. It should be `flutterfire configure --account=foo@bar.com`

[2022-06-12 08:15] SpaceBug199 commented on #30
I had the same issue on macOS with npm installation of firebase-tools.
My problem was that npm installed firebase-tools version 8.0.2. and the current version was 11.0.1.

To check your version run `firebase --version`

I have solved this issue by running
`curl -sL firebase.tools | upgrade=true bash`

[2022-06-13 18:00] lokenjon commented on #56
On windows ->"flutterfire configure"
I got the same error message. The problem is the last few lines in pubspec.yaml

Remove these lines and flutterfire works as expected.....:
  plugin:
    platforms:
      ios:
        pluginClass: AppDelegate

(Btw: the reason I added the lines was in an attempt to create a "podfile" that is required in order to create a binary ios file on appcircle.io. I still

[2022-06-14 21:36] michel-feinstein opened #82 "[bug]: npm reports vulnerability in the CLI"
### CLI Version

0.1.1+2

### Firebase Tools version

11.1.0

### Flutter Doctor Output

<details>
  <summary>Flutter Doctor Output</summary>

[√] Flutter (Channel stable, 3.0.2, on Microsoft Windows [Version 10.0.18363.2274], locale en-US)
    • Flutter version 3.0.2 at C:\Programming\Flutter\flutter
    • Upstream repository https://github.com/flutter/flutter.git
    • Framework revision cd41fdd

[2022-06-14 21:51] michel-feinstein commented on #82
Sorry this should be reported on the Firebase CLI repo instead.

[2022-06-14 21:51] #82 closed

[2022-06-15 19:50] feinstein commented on #14
@Salakar my app was configured manually last year to use FlutterFire. At each release I always take a look at the Quick Start guide, to see if I need to change some configuration, json, gradle, etc.

On the last release the docs were migrated and updated to only have a CLI option for the configurations, but my app has several whitelabel versions and stages, which I can't find a documentation on ho

[2022-06-20 13:34] nuilewis commented on #55
This did not work for me, the `flutterfire` was not recognized in my Firebase CLI even though I included the path to my flutterfire CLI in my environment variables. Don't know why it behaves like this.

After going through the `flutterfire.bat` file in my `C:\Users\%USER_NAME%\AppData\Local\Pub\Cache\bin` directory, I realized the `flutterfire` command actually runs this dart command `dart pub glo

[2022-06-22 06:46] exampaqs commented on #56
getting same error :flutterfire_cli 0.2.2+2

[2022-06-22 07:26] CPMoviePHil commented on #80
i have faced same issue here, but solve the problem when i change firebase project alias to english
using version on 0.2.2+2

[2022-06-22 07:27] exampaqs opened #84 "[bug]: FlutterAppRequiredException: The current directory does not appear to be a Flutter application project."
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### CLI Version

0.2.2+2

### Firebase Tools version

11.1.0

### Flutter Doctor Output

name:
description:

publish_to: "none" # Remove this line if you wish to publish to pub.dev

version: 1.0.1+6

environment:
sdk: ">=2.12.0 <3.0.0"

dependencies:
auto_size_text: ^3.0.0-nullsafety.0
carousel_slider: ^4.0.0-nul

[2022-06-22 12:08] feinstein commented on #14
I am not sure how those commands will deal with flavors, since we need multiple json/plist in different native folders. Example: one json in the Android prod folder and another in the dev folder.

[2022-06-22 12:19] sarbogast commented on #14
All that is needed if for the command to let us customize the path and/or name of those files so that we can then add our own scripts to copy the right version to the location and name expected by the native plugins, just like we used to do with legacy configuration.

[2022-06-23 14:18] kinex opened #85 "request: Add documentation how to use FlutterFire packages the old way without this tool"
### Is there an existing feature request for this?

- [X] I have searched the existing issues.

### Command

_No response_

### Description

Please add documentation how to continue using FlutterFire without this tool i.e. the old way. There are several unclear items like do I need to put something to .gradle files in this case.

### Reasoning

I don't want to use this tool in my project. There we

[2022-06-30 19:02] neiljaywarner commented on #14
@bizz84  what's your thoughts on this now?

[2022-07-01 11:41] krjw-eyev opened #86 "[bug]: Unhandled exception: type 'Null' is not a subtype of type 'String' in type cast"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### CLI Version

0.2.2+2

### Firebase Tools version

11.2.0

### Flutter Doctor Output

[✓] Flutter (Channel stable, 3.0.3, on macOS 12.4 21F79 darwin-arm, locale en-GB)
    • Flutter version 3.0.3 at /Users/user/dev/flutter
    • Upstream repository https://github.com/flutter/flutter.git
    • Framework revisio

[2022-07-01 18:38] krjw-eyev commented on #86
I had a project without a `displayName` so the json was not able to be parsed correctly. I don't know if `displayName` is required nowadays but apparently it wasn't when I created the project.

[2022-07-06 12:45] sdstolworthy commented on #14
For what it's worth, I resolved this issue by running `flutterfire config` multiple times. if you run flutterfire configure once for each flavor, and then move the resulting `google-services.json` into `android/app/src/${flavorName}`, then the build succeeds for each flavor. A big caveat here is that I have only tested this on Android so far, not on iOS. I haven't looked into what steps will be ne

[2022-07-11 15:17] acoutts commented on #14
For android it does work like you said @sdstolworthy but for iOS the cli only outputs one file `ios/firebase_app_id_file.json` and it will overwrite it each time. We can manually fix it for iOS.

There is a warning printed when doing `pod install`:
[code]
I guess it can be ignored as long as you're sure you have set things up correctly.

What I did:
* Ran the configure command multiple times, maki

[2022-07-13 10:48] #78 closed

[2022-07-14 13:05] yakforward opened #89 "request: add constant constructor to DefaultFirebaseOptions"
### Is there an existing feature request for this?

- [X] I have searched the existing issues.

### Command

_No response_

### Description

add a const constructor to `DefaultFirebaseOptions`

### example

[code]

### Reasoning

adding a `const` constructor to `DefaultFirebaseOptions` ensure than
if used as a parameter a class constructor
this will still be able to be instantiate as constant

###

[2022-07-16 05:05] thipokch opened #91 "[bug]: _selectFirebaseProject failed with Valid value range is empty: 0"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### CLI Version

0.2.4

### Firebase Tools version

11.2.2

### Flutter Doctor Output

[code]

### Description

[code]

### Steps to reproduce

1. Set `FIREBASE_TOKEN` environment variable on CI machine
2. Install firebase tools and flutterfire_cli
3. run the following command
[code]

### Expected behavior

Norma

[2022-07-16 05:09] kangsudal commented on #80
can you explain mor how to change it ? I don't know what is alias.

[2022-07-16 15:29] thipokch commented on #91
It seems that when I pipe the command with `| bash` that's causing the issue.

[2022-07-17 03:26] thipokch commented on #91
Recent update to `dart_console 1.1.0` (deps for `interact`) is causing the spinner and cursor issue.  It seems to be working fine again after overriding in pubspec.yaml with the lines below and use a dev dependencies to run.
[code]

[code]
I have yet to file an issue in `dart_console`

[2022-07-18 07:31] herotha opened #93 "Cannot run dart pub global activate flutterfire_cli"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### CLI Version

0.0.0

### Firebase Tools version

11.2.2

### Flutter Doctor Output

Doctor summary (to see all details, run flutter doctor -v):
[✓] Flutter (Channel stable, 2.10.2, on macOS 12.1 21C52 darwin-x64, locale en-KH)
[✓] Android toolchain - develop for Android devices (Android SDK version 32.0.0-rc1)

[2022-07-21 08:16] lucavenir opened #96 "request: Let `flutterfire config` ACTUALLY handle all of the configurations needed"
### Is there an existing feature request for this?

- [X] I have searched the existing issues.

### Command

flutterfire configure --plugin [plugin]

### Description

`flutterfire configure` is now offering a quick way to configure a new Flutter + Firebase project (when it comes to Firebase _Core_), and that's cool!

Anyhow, I feel like this should also apply to _all the non-beta plugins Firebase

[2022-07-21 17:27] TatsuUkraine commented on #91
@timsneath is there anything you can help with?

[2022-07-21 19:25] timsneath commented on #91
I'll take a look. Thanks for flagging!

[2022-07-22 05:30] Fauzdar1 commented on #67
Strange enough, it does allow underscores, mine registered perfectly in the first chance but as I had forgot to correct the bundle Id of ios app, I redid it after correcting it and then,  now it's not working. Previous one which worked and one I'm using now both have underscore.

[2022-07-22 08:16] graemep-nz opened #98 "[bug]: firebase.json and .firebaserc files are missing after flutterfire configure and needed by the firebase emulator"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### CLI Version

0.2.4

### Firebase Tools version

11.3.0

### Flutter Doctor Output

C:\Users\graem>flutter doctor -v
[√] Flutter (Channel stable, 3.0.3, on Microsoft Windows [Version 10.0.22000.795], locale en-NZ)
    • Flutter version 3.0.3 at C:\Tools\flutter
    • Upstream repository https://github.com/flut

[2022-07-22 10:05] olegyablokov commented on #80
Maybe not a bug? https://stackoverflow.com/questions/72482277/flutterfire-configure-cli-requires-the-official-firebase-cli
SO suggests deleting the firebase.exe file in the project directory. I tried deleting the file and it worked.

[2022-07-23 09:27] MdeBruin93 commented on #14
Hello,

One of the things I'm missing right here is the option to create a "secured" prod version of the firebase_options.dart file. I mean, I've managed to successfully setup a project using the flutterfire cli with the configure command. However, this just adds a dart file with my keys in plain text. This is obviously fine for local development, but not very recommended for the production build.

[2022-07-23 21:21] nilsreichardt commented on #14
HI @MdeBruin93, the `google-service.json` does not contain any confidential data. It's not a problem to commit this and publish it. Especially, for web apps it's super easy to access the `google-service.json`. So you don't need to worry about to make the `google-service.json` "secure". However, you set up your Firebase security rules and other server side protection to secure your data. See [Fireb

[2022-07-23 22:52] timsneath commented on #91
I think I've fixed this in 1.1.2. Could you take a look and see if this solves your issue?

[2022-07-24 12:14] HossamTarek-bits commented on #27
if someone tried either @flypsyco or @prabel solutions and it didn't work try installing firebase using npm instead of downloading the standalone binary it worked for me

[2022-07-25 19:13] TatsuUkraine commented on #91
@timsneath awesome, thank you! All works for me now

[2022-07-26 00:35] thipokch commented on #91
It's working for me too!

[2022-07-26 00:35] #91 closed

[2022-07-31 09:08] ollydixon commented on #14
@russellwheatley great thanks; I hope we can implement live environmental switching; Having the recompile the app is either not an option (for QA teams) or a tremendous waste of time.

[2022-07-31 17:19] loolooii commented on #14
@acoutts I'm running a copy script, basically, the same as I do with GoogleService-Info.plist. Can you tell me where in the build Phases you run this script? It seems that it's not there when Crashlytics script starts running.

[2022-08-01 13:05] acoutts commented on #14
@loolooii my phases look like this in terms of ordering including my crashlytics one

<img width="1148" alt="Screen Shot 2022-08-01 at 9 04 12 AM" src="https://user-images.githubusercontent.com/9597207/182154315-269d70e5-04d5-486c-b227-23fc97f07e18.png">

[2022-08-01 13:10] loolooii commented on #14
@acoutts thanks man! It seems you do the copying way earlier, that must have been it. I ended up removing Crashlytics completely, it's nice and all, but I'll wait for it to be supported in the "new way". If not, I will try to do it again some time later. I needed success yesterday 😄

[2022-08-08 04:56] iqfareez opened #99 "[bug]: No platform for Windows & Linux shown in CLI"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### CLI Version

0.2.4

### Firebase Tools version

11.4.2

### Flutter Doctor Output
[code]

### Description

The `flutterfire configure` **didn't show t**he Windows platform. However, the folder **windows** is available in my project.

### Steps to reproduce

1. Create new Flutter project
2. Run `flutterfire co

[2022-08-08 05:09] iqfareez commented on #99
Oops sorry, it is not supported yet is it?

[2022-08-08 05:09] #99 closed

[2022-08-08 09:36] Wasmund1 opened #100 "[FlutterFire_cli] configure -h produces Unhandled Exception"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### CLI Version

0.2.4

### Firebase Tools version

11.4.0

### Flutter Doctor Output

flutter doctor -v
[✓] Flutter (Channel stable, 3.0.5, on macOS 12.4 21F79 darwin-x64, locale en)
    • Flutter version 3.0.5 at /Users/vagrant/fvm/versions/2.10.3
    • Upstream repository https://github.com/flutter/flutter.git

[2022-08-12 21:17] bastaware commented on #30
This helped me on Mac OSX. Though I needed to upgrade firebase.tools using npm. First I had to upgrade **node**, also using npm.

But when I ran `flutterfire configure`, I got a new error: **i Found 0 Firebase projects**.

This was solved by logging out and into Firebase (`firebase logout, firebase login`)

[2022-08-17 13:53] 7ext32 opened #101 "[bug]: Can not run dart pub global activate flutterfire_cli"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### CLI Version

0.2.4

### Firebase Tools version

10.6.0

### Flutter Doctor Output

flutter doctor
Doctor summary (to see all details, run flutter doctor -v):
[✓] Flutter (Channel stable, 3.0.5, on macOS 12.2.1 21D62 darwin-arm, locale en-IN)
[✓] Android toolchain - develop for Android devices (Android SDK ver

[2022-08-20 15:12] KimAloy commented on #96
Seriously, just make connecting a Flutter app to Firebase a one click event. In the project root folder, when one types flutterfire configure, a dialog should open up, the user selects iOS android web macos windows, presses OK, and the connection to Firebase is done. As simple as that.

[2022-08-24 10:56] WillGatto opened #102 "wrong command[bug]:"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### CLI Version

flutterfire_cli 0.2.4.

### Firebase Tools version

...

### Flutter Doctor Output

[√] Flutter (Channel stable, 3.0.3, on Microsoft Windows [versÆo 10.0.19044.1889], locale pt-BR)
    • Flutter version 3.0.3 at C:\Users\zione\flutter
    • Upstream repository https://github.com/flutter/flutter.g

[2022-08-26 01:47] sakyoyuto commented on #20
I have the same probrem.

[2022-08-26 08:37] Kiruel commented on #31
I would like to know too, I use push notification in release mode and I can not received it. And I suppose it's because my SHA1 is not on the flutterfire config file.

[2022-08-30 19:44] 7AveNooN7 commented on #26
The issue is still active for me.

[2022-08-31 09:40] Kiruel commented on #31
Ok it was a problem with Dart method static, nothing related to SHA1.

[2022-09-04 23:38] exedemaio opened #104 "[bug]: I can't move with the arrows to choose the options"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### CLI Version

0.2.4

### Firebase Tools version

11.8.0

### Flutter Doctor Output

**[✓] Flutter (Channel stable, 3.3.0, on macOS 12.4 21F79 darwin-x64, locale es-419)
    • Flutter version 3.3.0 on channel stable at /Users/exedemaio/Development/flutter
    • Upstream repository https://github.com/flutter/flu

[2022-09-06 01:12] walsha2 commented on #100
I am seeing the same issue... why are these fields listed as "mandatory"?

[2022-09-09 12:14] #89 closed

[2022-09-13 20:42] Albert221 opened #106 "[bug]: Wrong link to documentation in readme (?)"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### CLI Version

-

### Firebase Tools version

-

### Flutter Doctor Output

-

### Description

The _Documentation_ link in README points to https://firebase.flutter.dev/docs/cli/.

But this website states:

Should it be updated to https://firebase.google.com/docs/flutter/setup then? Or is the linked documentat

[2022-09-15 12:16] #86 closed

[2022-09-15 20:04] diegopq commented on #14
any update to configure the flavors using the cli directly?

[2022-09-16 09:09] KKamishima commented on #85
Just sharing our experience.

In our case, Android build failed to run without `google-services.json`. The app saw a fatal error at `onResume()` handler, where I suppose some Analytics data collection mechanics is present, by saying (native) Firebase SDK has not been initialized. Usually such initialization is automatically performed in `FirebaseInitProvider` using the default parameter values der

[2022-09-17 11:44] vincekruger commented on #30
Urg. I'm getting this error all the time despite all the suggestions on many threads and comments. :(

[2022-09-20 07:01] SHOAIBAHMED12842 opened #108 "[bug]:"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### CLI Version

0.2.6

### Firebase Tools version

10.42

### Flutter Doctor Output

[√] Flutter (Channel stable, 3.0.4, on Microsoft Windows [Version 10.0.19042.1889], locale en-US)
    • Flutter version 3.0.4 at C:\Users\msiraj005\Downloads\flutter_windows_3.0.4-stable\flutter
    • Upstream repository https:/

[2022-09-21 05:18] jonscoresby commented on #19
I got this error as well, none of the options discussed here fixed it for me. I ended up just installing using npm.

[2022-09-21 07:13] lagagne72 commented on #27
in my case, the issue was an old  firebase-tools version.
fixed it with ` npm install -g firebase-tools`, and then `flutterfire configure` worked like a charm.

[2022-09-22 02:22] komi1230 opened #109 "[bug]: GoogleService-info.plist won't be updated when configure with another firebase project"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### CLI Version

0.2.6

### Firebase Tools version

11.9.0

### Flutter Doctor Output

[✓] Flutter (Channel stable, 3.3.2, on macOS 12.6 21G115 darwin-x64, locale en-JP)
    • Flutter version 3.3.2 on channel stable at /usr/local/Caskroom/flutter/2.10.0/flutter
    • Upstream repository https://github.com/flutter

[2022-09-22 09:12] RiccardoRp commented on #101
for me it worked:

flutter build apk

[2022-09-25 09:46] kinex commented on #85
Exactly. Failed experiment and pretty much waste of time. I am 99% sure Crashlytics (same for Analytics?) must be initialized much earlier before any Dart code is executed and this alone is a showstopper issue for even considering to implement this kind of tool. Using `google-services.json` and `GoogleService-Info.plist` works great and what's most important allows keeping important things under t

[2022-09-25 18:22] ArAmM7 commented on #30
For anyone wondering what works on windows, I used cmd as admin to run the flutterfire configure command and it worked. I am using the npm version of firebase cli.

[2022-09-28 09:34] russellwheatley commented on #30
@Smartiiez - are you running in a windows environment?

Also same question to everyone who is experiencing this problem, @here?

[2022-09-28 10:04] russellwheatley commented on #26
@harmeet-rgyan  Are you sure this is still an issue? Have you activated the latest FF CLI using `dart pub global activate flutterfire_cli `?

[2022-09-28 10:06] russellwheatley commented on #85
Activate the latest FF CLI using `dart pub global activate flutterfire_cli `. The service files are now written for android & iOS. We're thinking of removing the Dart init code for android and iOS to clear up the confusion. If you want docs for manual steps, they're [archived here](https://firebase.flutter.dev/docs/manual-installation)

[2022-09-28 10:06] #85 closed

[2022-09-28 10:09] russellwheatley commented on #10
Activate the latest FF CLI using `dart pub global activate flutterfire_cli `. The service files are now written for android & iOS using FF CLI. We're thinking of removing the Dart init code generated for android and iOS to clear up the confusion. Some Firebase products require the service file and we have no way of controlling how they're implemented so it's safer to use the service files.

[2022-09-28 10:09] #10 closed

[2022-09-28 10:12] russellwheatley commented on #20
You don't have to add `GoogleService-Info.plist` manually.

Activate the latest FF CLI by running `dart pub global activate flutterfire_cli` . The service files are now written for android & iOS using FF CLI. We're thinking of removing the Dart initialization code generated for android and iOS to clear up the confusion.

[2022-09-28 10:12] #20 closed

[2022-09-29 06:43] FDuhen commented on #30
Updating this issue with a slightly different problem, but the root cause may be the same.

firebase-tools version: 11.11.0
flutterfire version : 0.2.6
flutter version : tried with 3.0.1 and 3.3.2
dart version : 2.18.2

**Stacktrace**:

[code]

The fixes I've tried so far without any success :
- Reinstalling firebase-tools
- Deactivating/reactivating flutterfire_cli and reconnecting
- Updating Dar

[2022-09-30 17:50] superiorsd10 commented on #106
@Albert221 Can I work on this issue?

[2022-10-01 15:59] normidar commented on #30
I have the same issue here(using macOS M1):

I can not fix it after these :

- flutter clean
- install firebase-tools latest version
- upgrade flutter & dart
- upgrade packages about firebase
- close vscode and reopen

[code]

[2022-10-01 16:31] normidar commented on #30
I saw the `flutterfire` code, I think the problem is my `google-services.json` file, I reinstalled it and fixed this error.

[2022-10-03 12:26] feinstein commented on #14
Let me see if we are in the same page.

If I have a white label app, thst turns out to be 2 different apps in production, with 2 different Android ids, I will have to run the CLI once for each of my Android apps, and the last time I run the CLI, it won't interfere with the previous times I have run it, and configured the other Android apps?

[2022-10-03 15:15] ollydixon commented on #14
Just to note; many of us switch on the login screen via a few different environments; real time. having to use different builds is very painful for QA.

[2022-10-03 17:35] kinex commented on #14
The most important option would be that this tool does not write the service files at all and most importantly does not access my Firebase projects in the cloud in any way (for security reasons). I am developing my app actively and publishing updates almost monthly. I have updated the service files total of two times during the lifetime of my app and the last time I updated them was in June 2019.

[2022-10-04 09:07] russellwheatley commented on #14
Hey @feinstein, the idea is that it will grab the config from the Firebase Server and write to where ever you want it in your project setup with whatever file name you choose. They are independent file writes and won't interfere with each other. The setup part depends on how you've set it up. Firebase has its recommended way of setup for android flavors, not sure how else to set it up other than t

[2022-10-04 09:14] russellwheatley commented on #14
Hey @erf, The service file is used before dart is initialized on native apps, therefore, the Dart config initialization code is ignored as default app has already been setup. We were thinking of removing android, iOS & macOS dart initialisation code from `flutterfire configure`, but some users use it for second app initialization as you can change certain aspects like RTDB & Auth URL to a differen

[2022-10-04 09:15] russellwheatley commented on #14
Hey @kinex, you can find [manual installation here](https://firebase.flutter.dev/docs/manual-installation). You don't have to use `flutterfire configure`.

[2022-10-04 09:54] russellwheatley commented on #14
We wanted to move towards dart initialization, @erf. But there are too many unforeseen issues. Ultimately, we don't control how each Firebase product uses the service file, and it appears they are needed in certain circumstances.

[2022-10-04 12:15] feinstein commented on #14
The website has lots of warnings at the top, saying the content is not guaranteed to be updated and the manual configuration is not recommended, so when I read this, I get full of FUD that my project will be unstable.

[2022-10-04 12:17] feinstein commented on #14
In general I think this solution should be satisfactory, if we are controlling the folders where the CLI downloads, it would be practically the same as a manual installation.

[2022-10-04 14:00] emmanuel1997-bit commented on #27
Access is denied.

[2022-10-04 14:01] emmanuel1997-bit commented on #27
how  can  i  fix  it

[2022-10-04 15:05] amit-ksh commented on #6
`flutterfire audit`
Or
`flutterfire inspect`

[2022-10-04 16:01] ollydixon commented on #14
Would be nice if the tooling was automatic; why aren’t we using api keys? Like every other 3rd tool that requires identification, instead of these ridiculous service accounts on the client?

All mobile developers are forced to use firebase since google scrapped GCM (shame on them) so let’s make it streamline as possible 😎

[2022-10-04 16:22] cedvdb commented on #14
Did the firebase android and ios team have anything to say about some possible updates on their side to allow a dart only implementation ? I feel like this should be the first place to start.

[2022-10-04 16:25] feinstein commented on #14
I think this is getting out of the original topic, this thread won't solve the firebase architecture, or the Dart implementation, please open a new issue to discuss it.

Here we should stick to how to deal with flavors with the new CLI tool.

[2022-10-04 16:27] feinstein commented on #14
@russellwheatley but will the Dart initialization work if I do the manual installation?

The manual installation is what's required on the native side, but we have no idea how this will interact with the new modifications in the Dart library, where a lot of things have been abstracted. The docs warnings don't help to ease our doubts.

[2022-10-04 16:30] ollydixon commented on #14
The build flavors are a waste of time for QA though and extremely annoying when doing team management, you have to keep a track of build numbers and if they are dev/prod/staging/testing etc etc, backwards.

I just want a function like

`await Firebase.switchAccount("some-api-key") `

and not care about anything else.

[2022-10-04 16:56] feinstein commented on #14
That's your reality, for your project, and your company. **Don't think this applies to everyone**.

My company is a very big bank, and we have many partners, so we HAVE to create new apps, with new ids, one for each partner.

Since we only change the ids, names, icons and colors, we don't bother with QA for the other flavors, since the main code is always validated in the main app.

[2022-10-04 16:57] feinstein commented on #14
If you want a new functionality, please file a new issue, this is getting out of topic.

[2022-10-04 16:58] feinstein commented on #14
@russellwheatley maybe we should start closing off-topic comments to keep the focus on the main issue?

[2022-10-04 17:03] ollydixon commented on #14
We have something like this, broken on Android but functioning on iOS.

[code]

[2022-10-04 17:07] ollydixon commented on #14
@feinstein The library is ridged and causing issues for developers, I can see that this issue has be logged many times looking over the issues in github.

Also using these service accounts is kinda silly in 2022 🤪 but I guess that's my opinion 🏄🏻‍♂️

[2022-10-06 07:41] AP2008 commented on #6
I would like to work on this

[2022-10-06 16:03] bhattabhi013 opened #111 "request: Add 'contributing.md'."
### Is there an existing feature request for this?

- [X] I have searched the existing issues.

### Command

NA

### Description

I expect this repository to have a `contributing.md` that includes guidelines and how to get started.

### Reasoning

It'll help to increase the contribution to this project.

### Additional context and comments

_No response_

[2022-10-06 19:04] WalidChebaro commented on #14
@LutfiGarzon

- Create a new run script phase name it:

`Copy GoogleServices-Info.plist & firebase_app_id_file.json to the correct location`

- Replace the shell script with:

[code]

- Then place it under:

`Link Binary With Libraries`

[2022-10-06 19:30] werainkhatri commented on #6
fyi: i've already started working on this and will raise a PR by the weekend. not sure what the protocol is (thanks for the CONTRIBUTING.md issue btw).

[2022-10-06 20:25] bhattabhi013 commented on #6
Hey @werainkhatri,
If you are a maintainer, can you please assign me that issue under hacktoberfest tag?

[2022-10-06 22:43] Salakar commented on #14
They are one and the same, if you initialize manually via native services files then when you call initializeApp() in Dart it syncs all natively created Firebase apps to Dart, and vice versa if you initialize purely via Dart then Dart calls native apis and creates the Firebase app instances there. You can even mix and match, initialize some via native and some via Dart (as long as Firebase app nam

[2022-10-07 00:49] LutfiGarzon commented on #14
@WalidChebaro Thank you works as expected great idea make initialization in iOS easy and seamless.

[2022-10-07 04:22] werainkhatri commented on #6
@bhattabhi013 i am not 😅, just another (soon-to-be 🤞🏾) contributor.

[2022-10-07 13:17] Anikalp1 commented on #111
Please assign this to me

[2022-10-07 13:31] bhattabhi013 commented on #111
Hi @Anikalp1,
I'm new here as well. Currently, I'm working on this issue.

[2022-10-07 13:43] Anikalp1 commented on #111
is this issue assigned to you @bhattabhi013

[2022-10-07 18:42] bhattabhi013 commented on #106
PLease close this issue as it no longer exists.

[2022-10-08 08:14] Albert221 commented on #106
It still does exist

[2022-10-08 08:24] superiorsd10 commented on #106
Please assign it to me then.

[2022-10-08 13:52] bhattabhi013 commented on #106
[This](https://github.com/invertase/flutterfire_cli/pull/113) fixes it.

[2022-10-09 21:46] akebu6 opened #114 "request: add code of conduct"
### Is there an existing feature request for this?

- [X] I have searched the existing issues.

### Command

_No response_

### Description

A code of conduct helps contributors know how they are to conduct themselves as well as to interact with other contributors. This will include all the guidelines and rules, (GitHub offers some examples of Code of Conduct)

### Reasoning

The repo should have

[2022-10-10 12:01] noodles opened #115 "[bug]: Flutterfire configure throwing an unhandled exception"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### CLI Version

0.2.6

### Firebase Tools version

11.0.1

### Flutter Doctor Output

[✓] Flutter (Channel stable, 3.3.3, on macOS 12.6 21G115 darwin-x64, locale en)
    • Flutter version 3.3.3 on channel stable at
      /usr/local/Caskroom/flutter/2.5.1/flutter
    • Upstream repository https://github.com/flutt

[2022-10-10 12:13] noodles commented on #115
After restarting my Mac and trying ```flutterfire configure``` again:

[code]
<img width="568" alt="Screen Shot 2022-10-10 at 11 12 42 pm" src="https://user-images.githubusercontent.com/183972/194863800-f2961f8f-286f-4d0d-a231-110fd500d9a1.png">

[2022-10-10 17:37] poster983 commented on #104
Same Here!  If I use the spacebar it just adds an extra line but wont move to the next step.

[2022-10-11 00:21] noodles commented on #115
I am experiencing the same issue with v0.2.5 and v0.2.2+2 so I suspect this is not a bug but an issue with my system. Any help would still be appreciated.

[2022-10-11 00:49] noodles commented on #115
So maybe I'm not as good at searching existing issues as I need to be:

[FormatException: Unexpected character when calling flutterfire configure](https://github.com/invertase/flutterfire_cli/issues/27)

I will add any further comments there.

[2022-10-11 00:49] #115 closed

[2022-10-11 07:42] vincekruger commented on #27
On mac run `sudo gem install xcodeproj` and then configure everything again.

[2022-10-11 11:53] polonski commented on #9
running
`dart pub global activate flutterfire_cli`
fixed this error

[2022-10-16 05:27] rddewan opened #120 "[bug]: `--android-app-id` flag does not update value"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### CLI Version

0.2.6

### Firebase Tools version

11.14.2

### Flutter Doctor Output

Doctor summary (to see all details, run flutter doctor -v):
[✓] Flutter (Channel stable, 3.3.4, on macOS 12.6 21G115 darwin-arm, locale en-TH)
[✓] Android toolchain - develop for Android devices (Android SDK version 32.0.0)
[✓

[2022-10-16 16:25] rymesaint commented on #100
yes i have this problem on my github action flow that i only needed 1 platform to generate but it throwing exception *ios-bundle-id is mandatory*

at my laptop using 1 platform to generate the file is fine though

[2022-10-16 19:41] #106 closed

[2022-10-18 18:53] Lyokone commented on #120
Hello @rddewan,
I just tried locally, can you try properly with
[code]

To check?

[2022-10-19 11:03] HemilTheRebel opened #121 "request: Document how android package name and ios and mac os bundle ids are detected"
### Is there an existing feature request for this?

- [X] I have searched the existing issues.

### Command

NA

### Description

In flutterfire configure --help, please document how the android package name and ios and mac os bundle ids are automatically detected. I had a build.gradle file like this:
[code]

And flutterfire kept on using the commented version for some reason. It took me an hour o

[2022-10-19 12:19] awais-amjed commented on #109
Encountered the same bug yesterday

[2022-10-21 18:20] JagandeepBrar opened #123 "[bug]: (macOS) error: Unexpected duplicate tasks"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### CLI Version

0.2.6

### Firebase Tools version

11.15.0

### Flutter Doctor Output

[✓] Flutter (Channel stable, 3.3.5, on macOS 12.5 21G72 darwin-x64, locale en-CA)
    • Flutter version 3.3.5 on channel stable at /Users/jagandeepbrar/Development/flutter
    • Upstream repository https://github.com/flutter/f

[2022-10-21 18:51] JagandeepBrar commented on #123
I think I was able to identify the root cause.

The script is adding `GoogleService-Info.plist` to the "Compile Sources" build phase when it should be adding it to the "Copy Bundle Resources" build phase. This is what happens when manually adding the `GoogleService-Info.plist` file and the build is able to complete successfully.

This can also be fixed by running `flutterfire configure`, opening `

[2022-10-21 22:38] biswadeep25 commented on #114
Please add hacktoberfest label to this issue.

[2022-10-22 13:20] rddewan commented on #120
@Lyokone it does not work , it use the default android package name , but since i have a flavor setup it will have a suffix based on flavor

[2022-10-25 05:36] Kaushalrr006 commented on #111
Please
assign me this task

[2022-10-25 20:47] syedzubeen commented on #111
Is this done or still open?

[2022-10-25 20:56] Kaushalrr006 commented on #111
To be done

On Wed, 26 Oct, 2022, 2:17 am Zubeen, ***@***.***> wrote:

[2022-10-27 15:52] gustavolramos commented on #49
I'm still facing the same issue, even though I can log in to the CLI, find my projects, etc... It's just the flutterfire command not working within Intellij.

Anyone got ideas?

[2022-10-27 22:51] mrquentin opened #126 "[bug]: configure command not updating build.gradle files"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### CLI Version

0.2.6+1

### Firebase Tools version

11.15.0

### Flutter Doctor Output

Doctor summary (to see all details, run flutter doctor -v):
[✓] Flutter (Channel stable, 3.3.6, on Microsoft Windows [Version 10.0.22623.870], locale en-CA)
[✓] Android toolchain - develop for Android devices (Android SDK ve

[2022-10-30 22:06] mckn opened #127 "[bug]: error while running `flutterfire configure`"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### CLI Version

0.2.6.+1

### Firebase Tools version

11.15.0

### Flutter Doctor Output

Doctor summary (to see all details, run flutter doctor -v):
[✓] Flutter (Channel stable, 3.3.5, on macOS 13.0 22A380 darwin-x64, locale sv-SE)
[✓] Android toolchain - develop for Android devices (Android SDK version 32.0.0)

[2022-10-31 12:19] #77 closed

[2022-10-31 12:37] jianshangquan commented on #127
Run following command solve issue on my machine "Mac M1"
[code]
I found similar behavior from source [stackoverflow](https://stackoverflow.com/questions/19674550/cocoapods-loaderror-no-such-file-to-load)

[2022-10-31 18:08] mckn commented on #127
So it turns out it wasn't this CLI it is cocoapods. So I reinstalled the `xcodeproj` by running `gem install xcodeproj` which worked.

[2022-10-31 18:08] #127 closed

[2022-11-07 07:37] msims321 commented on #49
I'm using vscode on Windows, and this works for me:
https://www.youtube.com/watch?v=pqyt-S_YNzA

[2022-11-07 10:35] OutdatedGuy commented on #126
Same behaviour is seen by me. On my windows machine, the `flutterfire cli` doesn't add necessary package needed code in the `build.gradle` file.

But on my macbook, the package required code is added to `build.gradle` file.

Package required code:
[code]

and

[code]

My `flutterfire_cli` package version is `0.2.6+1`

[2022-11-07 10:38] OutdatedGuy commented on #109
Same here. Only `GoogleService-Info.plist` doesn't gets updated.

[2022-11-07 15:00] Pante opened #129 "request: iOS counterpart for `--[no]-apply-gradle-plugins`"
### Is there an existing feature request for this?

- [X] I have searched the existing issues.

### Command

flutterfire configure --[no]-apply-ios-project-files

### Description

Currently, there's a flag to control modification of Android related files.

On iOS, `google-info.plist` is generated and the iOS project's file is modified to copy the `google-info.plist`. However, no counterpart for `-

[2022-11-14 09:06] viperciyes commented on #49
having the same issue, firebase projects:list lists the projects, but configure cannot find projects..

[2022-11-16 02:26] TBK12 commented on #55
So just come across this issue myself, and wanted to clarify a few things written previously (or propose yet another way that seems to have worked for me). Personally, I think the instructions given for the firebase CLI (+ Flutter integration) could be much clearer.

[This is using the standalone windows firebase-tools-instant-win.exe]

1. Download `firebase-tools-instant-win.exe` from [FirebaseCL

[2022-11-16 19:53] SoufianeSaadouni commented on #55
same here

[2022-11-19 09:11] fakfa19 commented on #27
It worked for me!

[2022-11-22 12:04] jade-bejide opened #133 "[bug]: PickException"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### CLI Version

0.2.7

### Firebase Tools version

11.16.1

### Flutter Doctor Output

[√] Flutter (Channel stable, 3.3.8, on Microsoft Windows [Version 10.0.19045.2251], locale en-GB)
    • Flutter version 3.3.8 on channel stable at C:\Users\jades\Downloads\flutter_windows_3.3.4-stable\flutter
    • Upstream re

[2022-11-22 12:20] #133 closed

[2022-11-22 13:16] rymesaint opened #134 "[bug]: Option ios-bundle-id is mandatory."
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### CLI Version

latest version

### Firebase Tools version

11.16.1

### Flutter Doctor Output

[✓] Flutter (Channel stable, 3.3.8, on macOS 13.0.1 22A400 darwin-x64, locale en-ID)
    • Flutter version 3.3.8 on channel stable at /Users/ridwanfauzan/Documents/flutter
    • Upstream repository https://github.com/

[2022-11-23 08:55] aweife commented on #127
For anyone that can't use `sudo gem install xcodeproj` for some reason, you are likely using the macOS's ruby. Install ruby with homebrew and then do `gem install xcodeproj` as an alternative.

See this: https://mac.install.guide/faq/do-not-use-mac-system-ruby/index.html

[2022-11-23 10:17] cedvdb commented on #45
@Salakar Please reopen.

Here is our scenario:

The application itself is acting as a shell for other features. Flutter is part of our infrastructure. eg:

[code]

Yes flutter is not a direct dependency, it is exported and some things are hidden from flutter itself

There will be linting issues of course if that's allowed because the import won't import a direct dependency. So I suggest adding an

[2022-11-23 15:18] #114 closed

[2022-11-23 15:20] #111 closed

[2022-11-28 13:38] yaakoubDj commented on #55
i solved it by :
use olded version of firebase-core (firebase_core: ^1.10.6) and everything will
worked

[2022-11-29 00:52] omrico32 opened #135 "[bug]: exception when running configure while having large number of projects"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### CLI Version

0.2.7

### Firebase Tools version

11.16.1

### Flutter Doctor Output

[✓] Flutter (Channel stable, 3.3.8, on macOS 12.1 21C52 darwin-x64, locale en-US)
[!] Android toolchain - develop for Android devices (Android SDK version 30.0.3)
    ✗ cmdline-tools component is missing
      Run `path/to/sdk

[2022-11-29 00:54] #135 closed

[2022-11-29 01:01] segevsh opened #136 "[bug]: exception when running configure while having large number of projects"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### CLI Version

0.2.7

### Firebase Tools version

11.16.1

### Flutter Doctor Output

[✓] Flutter (Channel stable, 3.3.8, on macOS 12.1 21C52 darwin-x64, locale en-US)
[!] Android toolchain - develop for Android devices (Android SDK version 30.0.3)
✗ cmdline-tools component is missing
Run path/to/sdkmanager --i

[2022-11-30 15:09] russellwheatley commented on #14
Hey folks, a quick update. We've cut a dev release for FFCLI which you can use and provide feedback here:

Activate dev release:
[code]

You can find more details in the PR description here: https://github.com/invertase/flutterfire_cli/pull/132

But to summarise what this dev release does:

1. Created 3 new options which are `macos-out`, `android-out` & `ios-out`. They are paths to where you want